body {
    background-image: url("img/pexels-adrien-olichon-2387793.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
footer {
    color: #eec170;
    background:transparent !important;
}

* {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background:transparent !important;
    color: #eec170;
}
.nav-item {
    color: #B7CAEB;
}