<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<header th:replace="partials/header :: header('Show')"/>
<body>
<nav th:replace="partials/navbar :: navbar"/>
<h1>Show</h1>

<ul th:each="post : ${postList}">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">post.title</h5>
            <p class="card-text">post.body</p>
            <a href="#" class="card-link" th:value="post.id">Details</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</ul>
<footer th:replace="partials/footer :: footer"/>
</body>
</html>