<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head('Show')"/>
<body>
<nav th:replace="partials/navbar :: navbar"/>
<header th:replace="partials/header :: header(Show)"></header>
<div class="container">
    <h3>Post Title: <span th:text="${post.title}"></span></h3><br>
    <p>Post Body: <span th:text="${post.body}"></span></p>
    <p>Post Topic Description: <span th:text="${post.postDetails.topicDescription}"></span></p>
    <p>History of Post: <span th:text="${post.postDetails.historyOfPost}"></span></p>
    <h1><span th:text="${isAwesome}"></span></h1>
    <h3>User Email: <span th:text="${post.user.email}"></span> </h3>
</div>
<div class="container">
    <form th:action="'/post/' + ${post.id} + '/edit'"><button>Edit</button></form>
    <form th:action="'/post/' + ${post.id} + '/delete'" th:method="POST"><button>Delete</button></form>
</div>
<footer th:replace="partials/footer :: footer"/>
<th:block th:replace="partials/scripts :: scripts"/>
</body>
</html>