<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<header th:replace="partials/header :: header('roll dice')"/>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>
    <h1>Pick a number: </h1>

    <form action="/roll-dice" method="post">
       <input type="submit" name="userInput" value="1" />
        <input type="submit" name="userInput" value="2" />
        <input type="submit" name="userInput" value="3" />
        <input type="submit" name="userInput" value="4" />
        <input type="submit" name="userInput" value="5" />
        <input type="submit" name="userInput" value="6" />
    </form>

    <h3>You picked: <span th:text="${userInput}"></span></h3>
    <h3>You rolled: <span th:text="${randomNumber}"></span></h3>

    <h3><span th:text="${isMatch}"></span></h3>

<footer th:replace="partials/footer :: footer"/>
</body>
</html>